dependency-injector==4.37.0
fastapi==0.70.1
uvicorn==0.16.0
aiohttp==3.8.1
pydantic==1.8.2
python-dotenv==0.19.2

#packages for testing
pytest==6.2.5
httpx==0.21.1
pyyaml==6.0
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pydantic-factories==0.7.0